@import "bootstrap-sprockets";
@import "bootstrap";
@import "sessions";
@import "votes";

.social-btn {
    width: 200px;
    border: 7px solid #99bb00;
    padding: 20px;
    margin: 20px;
    text-align: center;
}
