@import "bootstrap-sprockets";
@import "bootstrap";
@import "sessions";

.social-btn {
    width: 200px;
    border: 7px solid #99bb00;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.avatar {
    margin-top: 7px;
    margin-bottom: 7px;
}

.signed_in {
    margin-right: 5px;
    display: inline-block;
    text-align: center;
}
